<!doctype html>
<html lang="en">
 <head>
  	<title>SGX Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">	
	<link rel="stylesheet" href="../wwwroot/custom/login-form-17/css/style.css">
	<link rel="stylesheet" href="../wwwroot/custom/cet_css/style.css">

	<style>
		/*look for @CET on styles*/
		.center {
		  text-align: center;
		  border: 0px solid green;
		  margin: 0 auto;
		}
		.w{
			color: white;
			text-shadow: rgb(102, 100, 100) 1px 1px;
		}
		.fB{
			color: rgb(143, 140, 140);
			text-shadow: rgb(65, 63, 63) 1px 1px 1.2px;
			font-weight: 900;
			font-family: Arial, Helvetica, sans-serif;
		}		
		.fB2{
			color: rgb(143, 140, 140);
			text-shadow: rgb(65, 63, 63) 0px 0px 2px;
			font-weight: 900;
			/*font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif*/
		}	

		.bgB{			
			background-color: royalblue;
			/*color: white;*/
		}
		.bgG{			
			background-color: rgba(255, 250, 250, 0.493);
		}
		
	</style>
	

</head>

<body class="bgG">

	<!--Delphi Objects-->
	<div class="clearfix" style="display:none">{%IWBTN_LOGIN%}{%IWBTN_PGHOME%}</div>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<!--h2 class="heading-section">Login #07</h2-->
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex bgB">

						<!--div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last"-->
						<div class="order-md-last d-flex align-items-center center" >
						

							<!--div class="text w-100"-->	
							<div class="center" >
								<h3 class="w">Bem vindo ao Login do </h3>
							    <!--h2 style="color: rgba(65, 167, 226, 0.856)">Sistema SGX</h2-->		
								<h2 class="w">Sistema SGX</h2>
								<br />
								<div id="rcorners2" style="color:hsl(180, 26%, 93%);"> 
									Não possue acesso?									
									<p>Abra um pitstop em:</p>
									<a href="" style="color: rgba(224, 166, 169, 0.986); font-size:small; font-weight: normal;">  [Acesso MAO/Service Client/SGX] </a>
								</div>								
								<!--a href="#" class="btn btn-white btn-outline-white">Sign Up</a-->
							</div>
							

							

							
							<!--div style="text-align:center">
								Esse texto vai ficar centralizado.
							<p>Este parágrafo também.</p>
							</div-->								

			      		</div>
						<div class="login-wrap p-4 p-lg-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4 fB">Efetue o login no sistema</h3>
			      		</div>
							
			      	</div>
							<form action="#" class="signin-form">
			      		<div class="form-group mb-3">
			      			<label class="label fB2" for="name">Usuário</label>
							  {%IWEDT_USR%}
			      			<!--input type="text" class="form-control" placeholder="Username" required-->
			      		</div>
		            <div class="form-group mb-3">
		            	<label class="label fB2" for="password">Senha</label>
						{%IWEDT_PASS%}						
		              	<!--input type="password" class="form-control" placeholder="Password" required-->
		            </div>
										

		            <div class="form-group">						
		            	<button type="submit" class="form-control btn btn-secondary submit px-3 " onclick="javascript: Login();">Log In</button>												
						<!--button type="submit" class="form-control btn btn-secondary submit px-3" id="IWBTN_LOGIN">Sign In 2</button --> <!-- click by ID-->
					</div>
		            <div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0" style="color: rgb(143, 140, 140);">Lembrar usuário
								<input type="checkbox" checked> <span class="checkmark"></span>
							</label>
						</div>
						<div class="w-50 text-md-right">
							<a href="#">? Esqueci minha senha</a> <!-- do modal to help pitstop to reset pass-->							
						</div>						
		            </div>

					<div style="color: tomato;">							
						{%IWLError%}										
					</div>				

		          </form>
		        </div>
		      		</div>
				</div>
			</div>
		</div>
	</section>

	<script src="../wwwroot/custom/login-form-17/js/jquery.min.js"></script>
	<script src="../wwwroot/custom/login-form-17/js/popper.js"></script>
	<script src="../wwwroot/custom/login-form-17/js/bootstrap.min.js"></script>
	<script src="../wwwroot/custom/login-form-17/js/main.js"></script>







	<script>
				
	
		function Login() {    
			  debugger;                                        
	
			  AddChangedControl('IWEDT_USR');   // to get the new value when using onAsyncClick

			  var usr = document.getElementById('IWEDT_USR').value;
			  var psw = document.getElementById('IWEDT_PASS').value;
			  IWBTN_LOGIN.click();
	
		  };	  

	  /*function Login(pUser, pPass) {    
			  debugger;
											
			  var usr = pUser;
			  var psw = pPass;
			  IWBTN_LOGIN.click();
	
		  };*/		  
	
	
	
	</script>	





</body>
	
</html>

